name: Java CI

on:
  push:
    branches: 
      - master
      - dev
  pull_request:
    branches: 
      - dev

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build_user_service:
    runs-on: ubuntu-latest
    steps:
      - name: Checkhout the repository
        uses: actions/checkout@v2

      - name: Set up JDK 1.11
        uses: actions/setup-java@v1
        with:
          java-version: 1.11
        
      - name: Configure Testcontainer
        run: echo "testcontainers.reuse.enable=true" >> /home/runner/.testcontainers.properties

      - name: Run tests
        run: mvn clean test
      
      - name: Run Package
        run: mvn clean package
